#toolbarViewer{
  min-height: 55px;

  div{
    display: flex;
    align-items: center;
  }

  #toolbarViewerLeft {
    margin-left: 15px;
  }

  #toolbarViewerMiddle {
    display: flex;
    gap: 15px;
  }

  #toolbarViewerRight{
    margin-right: 5px;
  }

  .customButton{
    color: #c3c3c5;

    &.enabled {
      color: inherit;
      pointer-events: auto;
    }

    &.disabled {
      color: gray;
      pointer-events: none;
    }
  }

  .toolbarDivider{
    border-left: 1px solid gray;
    height: 25px;
    margin-right: 10px;
  }

}