@if (!uploadedFileSrc) {
  <main>
    <div
      class="drop-zone"
      (click)="fileInput.click()"
      (dragover)="onDragOver($event)"
      (dragleave)="onDragLeave($event)"
      (drop)="onDrop($event)"
    >
      <p>Drag and drop a PDF file here or click to upload</p>
      <input #fileInput type="file" accept=".pdf" (change)="onUploadFile($event)" hidden />
    </div>
  </main>
} @else {
  <ngx-extended-pdf-viewer
    #pdfViewer
    [src]="uploadedFileSrc"
    useBrowserLocale="true"
    [textLayer]="true"
    [showHandToolButton]="true"
    theme="dark"
    [filenameForDownload]="uploadedFileName"
    [enableDragAndDrop]="false"
    [sidebarVisible]="true"
    [activeSidebarView]="activeSidebarView"
    (dragover)="onDragOver($event)"
    (drop)="onDrop($event)"
    [customToolbar]="toolbarRef.toolbar"
    [customSidebar]="sidebarRef.sidebar"
    [handTool]="false"
  ></ngx-extended-pdf-viewer>

  <app-toolbar
    #toolbarRef
    (clearAllFields)="clearAllFields()"
    [sidebarVisible]="sidebarVisible"
  ></app-toolbar>

  <app-sidebar #sidebarRef></app-sidebar>
}
