main {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.drop-zone {
  border: 2px dashed #ccc;
  border-radius: 10px;
  text-align: center;
  cursor: pointer;
  height: 99vh;
  width: 99vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

.drop-zone p {
  margin: 0;
  font-size: 1.2em;
  color: #aaa;
}

.drop-zone.drag-over {
  background-color: #f0f0f0;
}

#toolbarViewer{
  padding: 10px;

  div{
    display: flex;
    align-items: center;
  }

  #toolbarViewerMiddle {
    flex-grow: 1;
    display: flex;
    justify-content: center;
    gap: 15px;
  }

  .toolbarDivider{
    border-left: 1px solid gray;
    height: 25px;
    margin-right: 10px;
  }

}


#sidebarContainer{
  top: 20px;
}