#toolbarViewer{
  min-height: 55px;

  div{
    display: flex;
    align-items: center;
  }

  #toolbarViewerLeft {
    margin-left: 15px;
  }

  #toolbarViewerMiddle {
    display: flex;
    gap: 15px;
  }

  #toolbarViewerRight{
    margin-right: 5px;
  }

  .toolbarDivider{
    border-left: 1px solid gray;
    height: 25px;
    margin-right: 10px;
  }

}